.sortbar {
  width: 100%;
  max-width: 1400px;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  text-transform: uppercase;
  color: #555;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 10px;
}

.left {
  display: flex;
  gap: 20px;
}

.hide-filter {
  background: none;
  border: none;
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
  color: #555;
}

.right {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 500;
}
