.sort-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
  font-family: inherit;
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  margin-top: 30px;
}

.sort-bar .left,
.sort-bar .right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.sort-bar .items {
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 0.5px;
}

.sort-bar .hide-filter {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  color: #000;
  display: flex;
  align-items: center;
  gap: 4px;
}

.sort-bar .hide-filter span {
  font-size: 14px;
}

.sort-bar .right {
  font-weight: 600;
  cursor: pointer;
  font-size: 13px;
}
/* Mobile Filter Button */
.filter-mobile-btn {
  display: none;
  background: #000;
  color: #fff;
  border: none;
  padding: 8px 14px;
  font-size: 13px;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
}

/* Show on mobile */
@media(max-width: 768px) {
  .filter-mobile-btn {
    display: inline-block;
  }
  .hide-filter {
    display: none;
  }
}
