.footer {
  background: #000;
  padding: 40px 0 10px;
  font-family: "Inter", sans-serif;
  color: #f9f9f9;
  width: 100%;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  flex-wrap: wrap;
  gap: 50px;
}

.footer-top h4 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}

.footer-top p {
  font-size: 13px;
  margin-bottom: 10px;
}

.subscribe-box {
  display: flex;
  gap: 10px;
  margin-top: 12px;
}

.subscribe-box input {
  width: 260px;
  padding: 11px;
  border: 1px solid #ccc;
  font-size: 13px;
}

.subscribe-box button {
  padding: 11px 20px;
  font-size: 12px;
  background: #111;
  color: #fff;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

.footer-contact small {
  font-size: 11px;
  display: block;
  margin-top: 4px;
  line-height: 16px;
  color: #555;
}

hr {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}

.footer-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
  padding-top: 20px;
}

.footer-bottom h4 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 12px;
}

.footer-bottom ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-bottom ul li {
  font-size: 13px;
  margin-bottom: 6px;
  cursor: pointer;
}

.social-icons {
  display: flex;
  gap: 12px;
  font-size: 20px;
  margin-bottom: 15px;
}

.payment-title {
  margin-top: 18px;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 10px;
}

.payment-icons img {
  width: 38px;
  margin-right: 8px;
  vertical-align: middle;
}

.footer-bottom-text {
  text-align: center;
  font-size: 11px;
  margin-top: 25px;
  color: #666;
}
