.filters-container {
  width: 240px;
  position: sticky;
  top: 110px;
  padding-right: 10px;
  border-right: 1px solid #eee;
}

.filters-title {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 12px;
}
