.layout {
  display: grid;
  grid-template-columns: 280px 1fr;
  gap: 40px;
  margin-top: 30px;
  gap: var(--space-6);
  padding-block: var(--space-6);
}

@media (max-width: 992px) {
  .layout {
    grid-template-columns: 1fr;
  }
}
.hero {
  text-align: center;
  margin-block: var(--space-7);
}

.hero h1 {
  font-size: 34px;
  font-weight: 600;
  letter-spacing: 1px;
}

.hero p {
  max-width: 550px;
  color: var(--color-text-light);
  margin: auto;
  margin-top: var(--space-2);
  font-size: var(--fs-md);
}
section {
  margin-bottom: 80px;
}
